@import url('https://fonts.googleapis.com/css2?family=Audiowide:wght@400;500;600;700&display=swap');

@import "tailwindcss";

:root {
    --color-primary: #27ae60;
    --color-secondary: #2c3e50;
    --color-tertiary: #e74c3c;
}

body {
    @apply text-gray-100 bg-gradient-to-br from-gray-900 to-black;
    font-family: 'Audiowide', sans-serif;
}
